.giph {
	margin: 1rem;
	padding: 1rem;
	max-width: 200px;
	color: black;
	width: 150px;

}
.giph img {
	max-height: 100%;
	max-width: 100%;
}

.giph a {
	font-weight: 300;
	color: black;
}

.backgroundGiph {
	position: fixed;
	top: 100px;
	left: 300px;
	z-index: -1;

	width: 100%;
	height: 100%;	
}

img {
	grid-column: 2;
	width: 600px;
}